<h1><%= @blog.title %></h1>
<h2><%= link_to 'Back to home', blogs_path %></h2>
<p>
	<span>Submitted <%= time_ago_in_words(@blog.updated_at) %> ago</span>
	<span><%= link_to 'Edit', edit_blog_path(@blog) %> | </span>
	<span><%= link_to 'Delete', blog_path(@blog), method: :delete, data: {confirm: "Are you sure you want to delete this post"} %></span>
</p>
<p><%= @blog.description %></p>
<hr />
<di id="comments">
  <%= @blog.comments.count %> Comments
	<%= render @blog.comments %>
	<h2>Add comment</h2>
  <%= render "comments/form" %>
</di>